.container_introducao {
  height: 750px;
 /* background-image: url("caminhaoazul.jpg");
  background-size: cover;  para ajustar a imagem ao tamanho do elemento 
  background-position: left center;
  display: grid;
  background-attachment: fixed;*/
  background:#002d64 ;
  padding-top: 120px;
  padding: 160px 0px;
  display: grid;
  justify-content: left;
}

.introducao-conteudo {
  display: grid;
  wgap: 80px;
  padding: 20px;
}

/*#013E87
#D6181F*/

.introducao-conteudo h2 {
  text-align: left;
  color: rgb(255, 255, 255);
  text-shadow: -2px 2px rgb(255, 17, 0);
  font-size: 57px;
  font-weight: 600;
  margin: 0; /* Adicionado para remover margens padrão dos títulos */
}

.container_introducao a {
  font-size: 3rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-self: start;
  background-color: #d6181f;
  border-radius: 3rem;
  color: #ffffff;
  font-weight: 600;
  padding: 15px 25px;
}

.introducao-conteudo a:hover {
  background-color: rgb(205, 14, 0);
}

.introducao-conteudo img {
  width: 5rem;
  display: inline-block;
  border-radius: 100%;
}

.introducao-conteudo p {
  color: rgb(255, 255, 255);
  text-align: left;
  font-size: 30px;
}

.introducao-conteudo p strong {
  color: white;
  text-align: center;
  font-size: 30px;
  font-weight: 400;
  position: relative;
}

@media (max-width: 540px) {
  .introducao-conteudo{
    padding: 10px;
  }
  .introducao-conteudo h2 {
    font-size: 2.2rem;
    padding-bottom: 40px;
  }

  .introducao-conteudo img{
    width: 3rem;
  }

  .introducao-conteudo a {
    font-size: 1.5rem;
    padding: 1rem;
  }
  .introducao-conteudo p {
    font-size: 1.3rem;
    padding-bottom: 80px;
  }

  .introducao-conteudo {
    display: inline-block;
    wgap: 5rem;
    padding: 1rem 3.5rem;
    align-items: start;
  }
  .container_introducao {
    height: 530px;
    padding-top: 45px;
  }
}
